.productsListContainer{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.158);
    height: 100vh;
    flex-direction: column;
    background: #F0F1F4;

}
.productListHeading{
    font-weight: 400;
    font-size: 2rem;
    padding: 0.5vmax;
    text-align: center;
    box-sizing: border-box;
    margin: 2rem;
    color: rgba(0, 0, 0, 0.637);
    transition: all ease .3s;
    font-family: Montserrat;
}
.productsListTable{
    background: #fff;
    border: none !important;
    background: #F0F1F4;
    margin-left: 20px;

}
.productsListTable > div{
    font: 300 1vmax;
    color: rgba(0, 0, 0, 0.678);
    border: none !important;
} 
.productsListTable a{
    margin-top: 1.3vmax;
    font-family: Montserrat;
}
.productsListTable a,
.productsListTable button{
    color: rgba(0, 0, 0, 0.527);
    transition: all ease .3s;
    padding: 1vmax;
    font-family: Montserrat;

}
.edit{
    margin-bottom: 13px;
}
.productsListTable button:hover{
    color:  #573b8a;
}
.productsListTable a:hover{
    color:  #573b8a;
}
.MuiDataGrid-columnHeader div{
    color: #000;
}
@media screen and (max-width: 600px) {
    .productsListTable > div{
        font: 300 4vw; 
    }
    
}
