.header{
    /* background: #774E2A; */
}
.header ul{
    /* background: salmon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header ul a{
    /* background: #000; */
    text-decoration: none;
    padding: 19px 50px;
    color: #888;
    margin-top: 5px;
}
.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #888;
    clear: both;
    margin-top: -22px; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
