@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
    background-color: #C7DFEA;
    margin: 0;
  }
  #root {
    padding: 10px; 
  } */
  @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
