.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background: #F0F1F4;
}
.main{
    background: #F0F1F4;
}
.addUser {
    width: 350px;
    /* height: 700px; */
    /* background: #573b8a; */
    background: #1C2536;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: .8s ease-in-out all;
    font-family: Montserrat;
}
.addUser h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
    transition: .8s ease all;
}
select {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    margin: 30px 0;
}
.addUser input, select {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    margin: 30px 0;
}
.addUser button {
    color: #fff;
    font-size: 15px;
    background: #392068;
    padding: 10px 60px;
    border-radius: 10px;
}
.rol{
    margin-bottom: 28px;
}
.addUser a{
    color: #fff;
    text-align: center;
}
